<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @order.id %>
</p>

<p>
  <b>Cascade:</b>
  <%= @order.cascade %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Matches design:</b>
  <%= @order.matches_design %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
